body {
            background-color: white;
            position: relative;
            height: 100%;
            margin: 0;
        }

        h2 {
            text-align: center;
            font-weight: 900;
            font-family: Arial, Helvetica, sans-serif;
        }

        .details {
            padding:0px;
            margin: 10px 10px 10px 0;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
            font-weight: 500;
        }

        .inputbox {
            width: 100%;
            border-bottom: 2px solid grey;
        }

        .containerr {
            width: 80%;
            height: 100vh;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            left: 50%;
            transform: translateX(-50%);
            background-image: linear-gradient(to top right, #36fff5dc, rgb(255, 88, 255));
            box-shadow: 1px 0 15px;
        }

        .content {
            background-color: white;
            width: 290px;
            height: 70%;
            margin: auto;
            padding: 30px 40px;
            border-radius: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .forgot-pass {
            text-align: right;
            margin-top: 4px;
        }

        
        .forgot-pass a {
            color:black;
        }

        .forgot-pass a:hover {
            color:rgb(207, 117, 6);
        }

        .btn {
            width: 100%;
            height: 40px;
            margin-top: 20px;
            border: none;
            border-radius: 50px;
            color: white;
            background: linear-gradient(45deg ,#098dc1,60% ,#f417de);
        }